<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>

            <h1>Register</h1>

    </nav>
    <form method="post" action="/register" >
        <input type="text" name="name" placeholder="name">
        <br><br>
        <input type="text" name="username" placeholder="username">
        <br><br>
        <input type="text" name="password" placeholder="password">
        <br><br>
        <select name="role">
            <option selected disabled>-- Select Role --</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
        </select>
        <br><br>
        <input type="submit" value="Daftar Sekarang">
    </form>
    <p>Sudah punya akun? Silahkan ke halaman <a href="/login">Log in</a></p>
</body>
</html>