<!DOCTYPE html>
<html lang="en">

<%- include('./components/header.ejs') %>

    <body class="mx-[10%]">
        <div class="flex justify-center h-screen items-center">
            <div class="inline-flex border-2 gap-[40px] flex-col p-[50px] rounded-xl">
                <div class="flex justify-center text-center flex-col">
                    <a href="/">
                        <span class="font-bold text-[32px]">Kita = Sama.</span>
                    </a>
                    <span class="">Daftar</span>
                </div>
                <form class="flex flex-col gap-[30px]" method="post" action="/register">
                    <input class="w-full rounded-xl py-[15px]" type="text" name="name" placeholder="Name">
                    <input class="w-full rounded-xl py-[15px]" type="text" name="username" placeholder="Username">
                    <input class="w-full rounded-xl py-[15px]" type="password" name="password" placeholder="Password">
                    <select class="w-full rounded-xl py-[15px]" name="role">
                        <option selected disabled>-- Select Role --</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                    <input class="border-2 px-[60px] py-[15px] rounded-xl" type="submit" value="Daftar Sekarang">
                </form>
                <p>Sudah punya akun? Silahkan ke halaman <a href="/login"><span
                            class="font-bold cursor-pointer">Masuk</span></a></p>

            </div>
        </div>
    </body>

</html>