<!DOCTYPE html>
<html lang="en">

<%- include('./components/header') %>

    <body class="mx-[10%]">
        <div class="flex justify-center h-screen items-center">
            <div class="inline-flex border-2 gap-[40px] flex-col p-[50px] rounded-xl">
                <div class="flex justify-center flex-col text-center">
                    <span class="font-bold text-[32px]">Kita = Sama.</span>
                    <span class="">Login</span>
                </div>
                <% if(error){%>
                    <p>
                        <%=error%>
                    </p>
                    <%}%>
                        <form method="post" action="/login" class="flex flex-col gap-[30px]">
                            <input class="w-full rounded-xl py-[15px]" type="text" name="username"
                                placeholder="Username">
                            <input class="w-full rounded-xl py-[15px]" type="text" name="password"
                                placeholder="Password">
                            <input class="border-2 px-[60px] py-[15px] rounded-xl" type="submit" value="Masuk">
                        </form>
                        <p>Belum punya akun? Silahkan ke halaman <a href="/register">Register</a></p>
            </div>
        </div>
    </body>

</html>